<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="freestudy.component.css">
</head>
<body>

<h2>View Free study Materials</h2>

<div class="row">
  <div class="column">
    <img src="Image/10.PNG" style="width:100%">
  </div>
  <div class="column">
    <img src="Image/12.PNG"  style="width:100%">
  </div>
  <div class="column">
    <img src="Image/13.PNG" style="width:100%">
  </div>
</div>
<div class="row">
    <div class="column">
        <img src="Image/14.PNG" style="width: 100%;">
    </div>
    <div class="column">
        <img src="Image/16.PNG" style="width: 95%;">
    </div>
    <div class="column">
        <img src="Image/17.PNG" style="width: 100%;">

    </div>
</div>
</body>
</html>